@charset "UTF-8";

body{
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-size: 13pt;
    font-weight: normal;
}

div#interface{
    display: block;
    width: 745px;
    height: 624px;
    margin: auto;
}

div#logo{
    width: 745px;
    height: 238px;
    margin: auto;
    padding-top: 50px;
}

div#logo div#icon{
    text-align: center;
    margin-top: 20px;
}

div#logo div#icon h1{
    font-size: 72px;
    font-weight: normal;
    visibility: hidden;
}

div#icon img#google-logo{
    width: 272px;
    height: 92px;
    margin-top: -150px;
}

div#search{
    display: block;
    width: 561px;
    height: 44px;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .4);
    background-color: #ffffff;
    border-color: #ffffff;
    border: 0;
}

div#search div#search-wrapper{
    display: block;
    width: 561px;
    max-width: 584px;
    height: 44px;
    margin: 0 auto;
}

div#search-icon{
    width: 24px;
    height: 44px;
    margin-left: 25px;
    padding-right: 0px;
}

div#search-icon img{
    display: block;
    width: 20px;
    height: 44px;
}

input[type="search"]{ 
    width: 450px;
    height: 44px;
    background-color: #ffffff;
    border: 0;  
    margin-left: 55px; 
    margin-top: -44px;
    position: absolute;
    outline: none;
}

input#search_{
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-size: 13pt;
    font-weight: normal;
}

div#google-mic{
    width: 15px;
    height: 44px;
    margin-left: 515px;
    margin-top: -45px;
}

div#google-mic img#mic{
    display: block;
    width: 15px;
    height: 44px;
    cursor: pointer;
}

div#explorer{
    display: block;
    width: 745px;
    height: 266px;
    margin: auto;
    padding-top: 20px;
}

div#explorer div#most-used{
    display: block;
    width: 573px;
    height: 266px;
    margin: auto;
}

div#explorer div#most-used ul li{
    display: inline-block;
    list-style: none;
    width: 112px;
    height: 112px; 
    padding: 5px 5px 20px 5px;
}

div#explorer div#most-used ul li a{
    display: block;
    width: 112px;
    height: 112px;
    text-decoration: none;
    text-align: center;
}

img.menu{
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 90px;
    opacity: 0;
}

img#as{
    visibility: hidden;
}

div#explorer div#most-used ul li:hover{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .4);
    opacity: 1;
}

div#explorer div#most-used ul li img:hover{
    opacity: 1;
}

img#add-shortcut{
    cursor: pointer;
}

span{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    cursor: pointer;
}